:root {
  --teal: #2ec1ac;
  --teal_hover: #279e8c;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Ubuntu", sans-serif;
}
.h-line {
  width: 150px;
  margin: 0 auto;
  height: 1.7px;
}
.custom-bg {
  background-color: var(--teal);
  border: 1px solid var(--teal);
}

.custom-bg:hover {
  background-color: var(--teal_hover);
}
/* modal */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* carousel style */
.carousel img {
  height: 600px;
}

/* availability form */
.availability-form {
  margin-top: -50px;
  z-index: 2;
  position: relative;
}

@media screen and(max-width: 575px) {
  .availability-form {
    margin-top: 25px;
    padding: 0 35px;
  }
}
/* worker card */
.card-img-top {
  height: 400px;
}
.swiper-slide img {
  cursor: pointer;
}
